.about {
  margin-top: 20px;
  position: relative;
  width: 700px;
  margin-left: 20px;
}

.about-section {
  padding: 10px;
}

.about-heading {
  width: 100px;
  padding: 0px;
  text-align: center;
  line-height: 5px;
  font-size: 35px;
}

.about-content {
  margin-top: 10px;
  width: 670px;
  height: auto;
}

.about-content p {
  font-size: 25px;
  text-align: left;
  padding: 15px;
}

.about-image {
  position: absolute;
  width: 350px;
  height: 350px;
  top: 0px;
  left: 800px;
  border: 5px solid #efefef;
  border-radius: 100%;
  box-shadow: 1px 4px 1px 1px;
}

.about-image img {
  width: 350px;
  height: 350px;
  border-radius: 100%;
}
