.nav {
  background-color: #f4f4f4;
  padding: 10px;
  text-align: center;
}

.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: black;
}

.nav-list-item {
  margin-right: 15px;
  text-decoration: none;
  padding: 10px;
  font-size: 25px;
  font-family: cursive;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  cursor: pointer;
}

.nav-list-item:hover {
  text-decoration: underline;
}


